@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'sora';
  src: url('./sora.ttf') format('truetype');
}

@font-face {
  font-family: 'sora-bold';
  src: url('./sora-bold.ttf') format('truetype');
}


:root {
    width: 100%;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: sora;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1fd1fd #080525;
    font-family: sora;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    font-family: sora;
  }
  
  *::-webkit-scrollbar-track {
    background: #080525;
    font-family: sora;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #1fd1fd;
    border-radius: 6px;
    border: 3px solid #080525;
    font-family: sora;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #080525;
    font-family: sora;
  }